<style>@import url('https://fonts.googleapis.com/css?family=Roboto');
</style>

#back {
  width: 75%;
  height: auto;
  margin: auto;
}

#header_menu {
  list-style: none;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

#header_menu li {
  width: fit-content;
  font-size: 20px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

#header_menu a {
  text-decoration: none;
  color: red;
}

#header_menu img {
  width: auto;
  height: 90px;
  position: relative;
  vertical-align: bottom;
  margin-bottom: 10px;
}

#header_menu .active li {
  background-color: #FFE082;
  border-radius: 50%;
}

#header_menu a:hover li {
  background-color: #FF8F00;
  border-radius: 50%;
}


/*@media (max-width: 1000px) {
    #testimonials {
        visibility:hidden;
    }
}*/

#third {
  width: 75%;
  height: auto;
  margin: auto;
  border: 3px solid blue;
  border-radius: 9px;
  margin-top: 20px;
  border: 3px solid #bbcce8;
  border-radius: 20px;
  background-color: #bbcce8;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.2);
}

#main_body_index {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 25px;
}

#forth {
  width: 10%;
  height: auto;
  float: right;
  border: 3px solid blue;
}

#menu li {
  display: inline-block;
  padding: 30px;
  margin-bottom: 10px;
}

#second {
  text-align: center;
}

#front_image {
  width: 60%;
  height: auto;
  margin: auto;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.2);
}

#contact_form_fieldset {
  width: 40%;
  margin: auto;
  border: 3px solid black;
  border-radius: 6px;
}

#contact_form {
  width: 30%;
  font-size: 15px;
}

#contact_us {
  font-style: italic;
  font-size: 30px;
}

#map {
  width: 50%;
  margin: auto;
}

#testimonials {
  width: 75%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #bbcce8;
  border-radius: 20px;
  background-color: #bbcce8;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
}

#testimonials hr {
  width: 75%;
  margin: auto;
}

#testimonial_single {
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}

#testimonials>h2 {
  font-size: 40px;
  text-align: center;
  color: blue;
}

#testimonials p {
  width: 80%;
  height: auto;
  margin: auto;
  text-align: justify;
  font-style: italic;
  color: blue;
}
